@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --color-accent: 255 122 1;
  --color-foreground: 231 233 234; /* #0F1419 */
  --color-background: 0 0 0; /* #FFFFFF */
  --color-faint: 113 118 123; /* #536471 */
  --color-divider: 47 51 54; /* #EFF3F4 */
  --color-highlight: 22 24 28; /* #F7F9F9 */
  --color-highlightextra: 29 31 35;
  --color-like: 249 32 131;
  --color-repost: 0 186 124;
  --color-comment: 29 155 240;

  --font-family: 'Helvetica Neue', Roboto, -apple-system, BlinkMacSystemFont;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

*::-webkit-scrollbar {
  display: none;
}

* {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}
